@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Playwrite+FR+Trad:wght@100..400&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-image: url("../img/img11.png");
    background-repeat: no-repeat;
    background-size: 100% ;
    color: #383838;
  }
  header {
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 50px 40px 50px black;
    font-weight: 800;
    font-style: normal;
}
  h1 span {
    text-transform: uppercase;
    font-family: "Prompt", sans-serif;
    font-weight: bolder;
    text-align: center;
    font-size: 350%;
    color: white;
    text-shadow: 50px 40px 50px black;
}
.button {
  background-color: red;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 80%; /* Adjust width to be fluid */
  max-width: 500px; /* Maximum width to avoid it becoming too wide */
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px auto; /* Center button horizontally */
  border-radius: 12px;
  display: block; /* Ensures the button is a block element */
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  